#mainAlert {
  margin-bottom: 0px;
  border-radius: 0px;
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;

  z-index: 100;
  opacity: 1;
}
.iosCkBx {
  display: inline-block;
}
.iosCkBx label{
  display: block;
  width: 42px;
  height: 20px;
  border-radius: 50px;
  transition: all 0.3s;
  box-shadow: inset 0 0 0 2px #E4E4E4;
  background-color: #fff;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.iosCkBx input{
  display: none;
}

.iosCkBx i{
  height: 16px;
  width: 16px;
  background: #FFF;
  display: inline-block;
  border-radius: 60px;
  margin-top: 2px;
  margin-left: 2px;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

  box-shadow: 0 0 0 1px #E4E4E4, 0 3px 2px rgba(0,0,0,0.25);
  pointer-events:none;
}

.iosCkBx input:checked+label>i{
  margin-left: 25px;
  box-shadow:0 3px 2px rgba(0,0,0,0.25);
}
.iosCkBx label:active{
  *box-shadow: inset 0 0 0 20px #E4E4E4;
  box-shadow: inset 0 0 0 20px #c4c4c4;
}
.iosCkBx label:active>i{
  width: 20px;
}
.iosCkBx input:checked+label:active>i{
  margin-left: 21px;
}
.iosCkBx input:checked+label{
  box-shadow: inset 0 0 0 20px #53D769;
  border: none;
}
