html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 360px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

a, a:hover, a:active, a:focus,
div, div:hover, div:active, div:focus,
button, button:hover, button:active, button:focus,
span,
.btn, .btn:hover, .btn:active, .btn:focus {
  outline: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bold { font-weight: bold; }
#musicApp-MainWell {
	border-radius: 0px 0px 6px 6px;
}
#navBarMain {
	margin-bottom: 0px;
	min-height: 35px;
	border-radius: 0px 0px 4px 0px;
	position: relative;
	z-index: 30;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  overflow: hidden;
}
#navBarCollapse {
	padding-right: 0px;
}
#navBarMain .navbar-form {
	margin: 0px 0px;
}
#navBarMain .navbar-brand {
	padding: 7px 12px 0 10px;
}
#navBarMain .navbar-nav > li > a {
	padding: 6px 15px;
}
#navBarMain .navbar-nav > li:last-child > a {
	*margin: 0px -14px 0px 0px;
}
#musicSearchInput {
	border-radius: 0px 0px 0px 4px;
  width: 100%;
}
#searchSubmitBtn {
	border-radius: 0px 0px 4px 0px;
}
.showMusicSearch {
	cursor: pointer;
}
#musicSearchForm.navbar-form .twitter-typeahead,
#musicSearchForm.navbar-form .twitter-typeahead input,
#musicSearchForm.navbar-form .twitter-typeahead .tt-dropdown-menu{
  width: 100%;
}
#musicSearchForm {
	*display: none;
  *position: absolute;
  *height: 0%;
  margin: 0px 0 0 0;
  border-radius: 0px;
  padding-top: 0px;
  width: 100%;
  /*
  position: fixed;
  right: -15px;
  top: 28px;
  width: 275px;
  */



  /*
  -webkit-transform: translate(0px, -80px);
     -moz-transform: translate(0px, -80px);
      -ms-transform: translate(0px, -80px);
       -o-transform: translate(0px, -80px);
          transform: translate(0px, -80px);

          -webkit-transition: all 0.4s ease-out;
             -moz-transition: all 0.4s ease-out;
               -o-transition: all 0.4s ease-out;
                  transition: all 0.4s ease-out;
  */
}
#playlistHeader {
  position: relative;
  z-index: 30;
  padding-bottom: 10px;

  background-color: #ddd;
  padding: 0px 0px 6px 0px;
  height: 89px;

  -webkit-transform: translate(0px, -54px);
     -moz-transform: translate(0px, -54px);
      -ms-transform: translate(0px, -54px);
       -o-transform: translate(0px, -54px);
          transform: translate(0px, -54px);

  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}
#musicApp-Main.searchShown #playlistHeader {
  -webkit-transform: translate(0px, 0px);
     -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  margin-top: 0px;
}
#musicApp-Main.searchShown #musicSearchForm {
  margin-top: 0px;
  /*
  -webkit-transform: translate(0px, 0px);
     -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  */
  *height: auto;
  *position: relative;
}

#navBarCollapse.navbar-collapse.in .navbar-nav {
	margin: 8px 0px;
}
.navbar-toggle {
	margin: 0px 10px 0px 20px;
	border-radius: 0px 0px 4px 4px;
}
.navbar-brand {
  cursor: pointer;
}
#navBarMain.navbar div.navbar-header {

}
#navBarMain.navbar div.navbar-header:after {
  clear: none;
}
#mainContentContain {
	width: 100%;
	height: 100%;
	padding: 35px 0 0 0;
	margin: 0;
	position: absolute;
	top: 0px;
	z-index: 20;
  overflow: hidden;
}
#mainContentContain .col {
	background-color: #f3f3f3;
	color: #4e4e40;
	margin: 0 0 0 0;
	padding: 0;
	height: 100%;
	position: relative;
	cursor: default;
}

#sideBar {
	width: 160px;
	float: left;
  position: relative;
  z-index: 20;
  border-right: 3px solid #EEEEEE;
  overflow: hidden;
}


/* TYPEAHEAD*/
.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}

.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 0px;
  padding: 0px 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px 0px 6px 6px;
     -moz-border-radius: 0px 0px 6px 6px;
          border-radius: 0px 0px 6px 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  border-top: 0px solid #fff;
}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}
.autoCompleteHeader {
  background-color: #ECECEC;
  display: block;
  padding: 5px 8px 6px;
  text-align: center;
}

#musicApp-Main.col {
	width: auto;
	float: none;
	overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fff;
  margin-right: 0px;
  padding-bottom: 38px;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/* Sidebar */
.sideBarButtonContain {
	padding: 10px 12px 16px;
	border: 0px;
	background: none;
	margin-bottom: 0px;
	border-radius: 0px 0px 4px 4px;
	border-bottom: 1px solid #E1E0E2;
}
.forwardBackwardBtnGroup button {
	width: 50%;
}
.slider.volumeSlider {
  margin: 10px 0 8px;
}
.slider {
  background-color: #CCCCCC;
  border-radius: 7px;
  box-shadow: 0 0 2px #999999 inset;
  cursor: pointer;
  height: 7px;
  margin: 15px 0 8px;
  z-index: 10;
}
.slider .position {
  background-color: #AAAAAA;
  border-radius: 7px;
  box-shadow: 0 0 2px #777777 inset;
  height: 7px;
  position: relative;
  transition: all 0.25s ease-out 0s;
  width: 100%;
}
.slider .position:after {
  background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 0 0 3px #777777 inset;
  content: " ";
  cursor: ew-resize;
  height: 13px;
  position: absolute;
  right: -1px;
  top: -3px;
  transition: all 0.25s ease-out 0s;
  width: 13px;
}
h5.volumeLabel {
  bottom: 7px;
  color: #777777;
  font-size: 9px !important;
  font-weight: 300;
  height: 0;
  letter-spacing: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  right: 6px;
  top: -2px;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 9;
}
h5#storedPlaylistsLabel {
  border-radius: 0 0 3px;
  cursor: pointer;
  display: block;
  font-size: 12px !important;
  margin: 0;
  padding: 11px 0 11px 12px;
  position: relative;
  text-transform: uppercase !important;
  width: 101%;
}
h5#storedPlaylistsLabel span.glyphicon {
  color: #999999;
  font-size: 14px;
  position: absolute;
  right: 12px;
  top: 11px;
}
h5#storedPlaylistsLabel:hover {
  background-color: #aaa;
  color: #444;
}
h5#storedPlaylistsLabel:hover .lightText,
h5#storedPlaylistsLabel:hover i {
  color: #fff;
  text-shadow: -1px 1px 1px #333;
}
.lightText {
  color: #999999;
  margin-right: 5px;
}
.storedPlaylists {
  position: relative;
  display: none;
}
.storedPlaylists ul {
  font-size: 14px;
  height: 150px;
  margin: 1px 0 0;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}
.refreshPlaylistsBtn {
  border: 1px solid #DDDDDD;
  border-radius: 4px 0 0;
  bottom: 0;
  padding: 6px 6px 4px 9px;
  position: absolute;
  right: 0;
}
#searchButtonDropdown {
  border-radius: 0px 0px 4px 2px;
}

/* TOPBAR SONG DATA */
#topBarSongInfo {
  *border: 1px solid #999;
  *box-shadow: inset 0px 0px 3px #e1e1e1;
  background-color: #f1f1f1;
  width: auto;
  margin: 0px auto;
  overflow: hidden;
  height: 36px;
  padding: 0px;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
  display: none;
}
.currentSongDuration {
  *float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 40;

  background-color: #c9c9c9;
  border-radius: 0px 0px 0px 4px;
  padding: 2px 5px 2px 6px;
  font-size: 12px;
  margin: 0px 0px 0 0;
}
.artistTrackInfo {
  *float: right;
  *margin: 5px 82px 0px 0px;
  position: absolute;
  top: 5px;
  right: 82px;
}
.currentSongName {
  *margin: 5px 0px 0px 12px;
  position: absolute;
  top: 5px;
  left: 2px;
  display: inline-block;
  background-color: inherit;
  z-index: 30;
  padding-right: 8px;
  padding-left: 12px;
  white-space: nowrap;
}
#topBarSongInfo span.artistTrackInfo span.glyphicon {
  font-size: 10px;
  margin: 0px 5px;
}
.currentPositionBar {
  *position: relative;
  *bottom: -7px;
  position: absolute;
  left: 0px;
  bottom: 0px;

  margin-left: 0px;
  background-color: #E3E3E3;
  width: 100%;
  height: 6px;
  clear: both;
  cursor: ew-resize;
}
.currentPositionBar .position {
  background-color: #aaa;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 21;
}
.currentPositionBar .bufferPosition {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #cacaca;
  height: 100%;
  z-index: 20;
}
.topBarBtnGroup {
  float: left;
  position: relative;
  margin-right: -2px;
  z-index: 30;
  display: none;
}
.topBarBtnGroup button {
  height: 36px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#sideBar .nav li a.btn {
  text-align: left;
  padding: 6px 10px;
  border-radius: 0px;
  color: #777;
  position: relative;
  z-index: 20;
}
#sideBar .nav li a.btn .glyphicon{
  position: absolute;
  top: 9px;
  right: 12px;
}
.refreshPlaylistList {
  position: absolute !important;
  bottom: 0px;
  right: 0px;
  padding: 7px 9px 4px 9px !important;
  cursor: pointer;
  opacity: 0;
  border-radius: 4px 0px 0px 0px;
  z-index: 10;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
li.active .refreshPlaylistList {
 opacity: 1;
 z-index: 30;
}
#albumArtContain.noAlbumArt {
  opacity: 0;
  top: 150%;
}
#albumArtContain {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;

  opacity: 1;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
#albumArtContain.slideDown {
  -webkit-transform: translate(0px, 100%);
     -moz-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
       -o-transform: translate(0px, 100%);
          transform: translate(0px, 100%);

  bottom: 22px;
}
.albumArtHeader {
  position: relative;
  width: 100%;
  padding: 3px 0 0 6px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 3px 3px 0px 0px;

  cursor: pointer;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.albumArtHeader:hover {
  background-color: #A9A9A9;
  color: #fff;
  border-color: #999;
}
.albumArtHeader span.glyphicon {
  position: absolute;
  right: 8px;
  bottom: 3px;
  top: auto;
}
.albumArtWell img {
  width: 100%;
  cursor: pointer;
}
.albumArtWell {
  height: auto;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.playlistWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100.25%;
  width: 100%;
  position: relative;
  z-index: 10;

  margin-top: -54px;

  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}
#musicApp-Main.searchShown .playlistWrapper {
  margin-top: 0px;
}
#musicApp-Main.searchShown {
  padding-bottom: 95px;
}
#playlistHeader h3{
  display: block;
  margin: 0px 0px 0px 8px;
  padding-top: 7px;
  font-size: 20px;
  color: #666;
  position: relative;
  z-index: 10;
  font-weight: normal;
  *overflow: hidden;
  height: 34px;
}
h3 .playlistName {
  *overflow: hidden;
  position: relative;
}
h3 .playlistName .namePlaylistBtn {
  position: absolute;
  top: -7px;
  left: 15px;
  padding: 9px 14px 6px 12px;
  border-radius: 0px;
}
#playlistHeader h3 .playlistLabel { font-weight: normal;  }
#playlistHeader h3 .searchPlaylistName, #playlistHeader h3 .playlistName { font-weight: bold; }
h3 .playlistName, h3 .searchPlaylistName {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
#musicApp-Main.searchPlaylist h3 .playlistName,
#musicApp-Main.userPlaylist h3 .searchPlaylistName {
  opacity: 0;
  position: absolute;
  right: -150%;
}
#musicApp-Main.userPlaylist h3 .playlistName,
#musicApp-Main.searchPlaylist h3 .searchPlaylistName  {
  opacity: 1;
}
.musicAppMainTopBtnGroup {
  *float: right;
  margin-right: 0px;
  position: absolute;
  top: 54px;
  right: 0px;
  z-index: 15;
}
.musicAppMainTopBtnGroup .btn:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 4px;
}
.musicAppMainTopBtnGroup .btn:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.listHide {
  position: fixed;

  -webkit-transform: translate(-100%, 0px);
     -moz-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
       -o-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);

  opacity: 0;
}
.togglePlaylistDisplay.active {
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.100), -2px 3px 4px rgba(0, 0, 0, 0.100) inset;
}
#sideBar li.active #savedPlaylistContainer {
  /*
  position: relative;

  -webkit-transform: translate(0, 0);
     -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  */
  height: 150px;

  *opacity: 1;
}
#sideBar li #savedPlaylistContainer {
  /*
  position: absolute;

  -webkit-transform: translate(-100%, 0px);
     -moz-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
       -o-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  */

  height: 0px;

  -webkit-transition: all 0.35s ease-out;
     -moz-transition: all 0.35s ease-out;
       -o-transition: all 0.35s ease-out;
          transition: all 0.35s ease-out;

  *opacity: 0;
  *height: auto;

  max-height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 156px;
  padding: 0px;
  box-shadow: -2px -3px 4px rgba(0, 0, 0, 0.100) inset;
  list-style: none;
  background-color: #ECECEC;
}
#savedPlaylistContainer li a.btn {
  padding: 3px 0px 3px 32px !important;
}

/* CHAT */
#chatWell {
  width: auto;
  float: none;
  opacity: 0.25;
  border-radius: 4px 0px 0px 0px;
  position: relative;
  z-index: 40;
  padding: 0px;
  background-image: none;
  background-color: #F6F6F6;
  margin: 0px;
  box-shadow: 0 6px 14px #888;
  height: 0px;
  bottom: -4px;
}
#musicApp-Main.chatShown .playlistWrapper {
  height: 74%;
  margin-bottom: -4px;
}
#musicApp-Main.chatShown #chatWell {
  height: 26.25%;
  opacity: 1;
}
#musicApp-Main.chatShown.searchShown #chatWell {
  height: 26.7%;
}
#presenceDiv {
  border-right: 2px solid #BBBBBB;
  float: left;
  *margin-right: 4px;
  height: 100%;
  overflow: hidden;
  width: 30%;
  margin-bottom: -40px;
  padding: 0 0 0 10px;
}
.onlineUsersList {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 0px 0px 12px;
  height: 100%;
}
.onlineUsersList div {
  *white-space: nowrap;
}
.onlineUsersList div.tooltip {
  *white-space: normal;
}
.onlineUsersList > div:last-child {
  margin-bottom: 60px;
}
#messagesDiv {
  height: 100%;
  overflow-y: scroll;
  padding: 4px 0px 0px 5px;
  width: auto;
  margin-bottom: -33px;
  background-color: #F6F6F6;
}
#messagesDiv > div:last-child {
  margin-bottom: 36px;
}
#messagesInput {
  width: 70%;
  float: right;
  margin-right: 0px;
}
#messagesInput input {
  border-radius: 0px 0px 0px 0px;
  border-left: 0px;
  border-bottom: 0px;
}
#messagesInput .btn {
  border-radius: 0px 4px 0px 0px;
}
#presenceDiv h5 {
  background-color: #DDDDDD;
  border-radius: 0 0 0 4px;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 4px 0 4px 8px;
}

/* PLAYLIST */
.songList {
  -webkit-transition: all 0.35s ease-out;
     -moz-transition: all 0.35s ease-out;
       -o-transition: all 0.35s ease-out;
          transition: all 0.35s ease-out;

  margin-bottom: 0px;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 4px;
}
.songList li {
  list-style: none;
  padding: 0px;
  cursor: pointer;
  color: #666;
  overflow: hidden;
  position: relative;
}
.songList li a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: block;
  padding: 1px 0px 0px 6px;
  height: 22px;
}
.songList li:nth-of-type(odd) {
  background-color: #F3F5F5;
}
.playlistHeading {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin: 0 0 0 2px;
  padding: 5px 5px;
  text-shadow: -1px 1px 1px #444444;
}
.songList li:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
.songList .songButtonGroup {
  opacity: 0;
  right: -20%;
}
.songList.controlsShown .songButtonGroup {
  opacity: 1;
  right: 16px;
}
.songButtonGroup {
  position: absolute;
  right: 16px;
  top: 0px;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.songButtonGroup .btn {
  padding: 0px 8px;
  border-radius: 0px;
}
.songButtonGroup .btn:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 0px;
}

li.playlistHeadingContain {
  background-color: #999999 !important;
  box-shadow: 0 0 6px #777777 inset;
  margin-bottom: -1px;
  padding: 0px;
}
li.playlistHeadingContain:first-child {
  margin-top: 0px;
  *padding-top: 8px;
  *border-radius: 0px 0px 0px 4px;
}
.songList li a .thisArtistName {
  margin-right: 6px;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.songList.controlsShown li a .thisArtistName {
  margin-right: 72px;
}
.songList li a .thisAlbum,
.songList li a .thisArtistName {
  float: right;
}
div.playlistWrapper ul.songList .albumNameHeading:first-child {
  margin-top: 0px;
}
div.playlistWrapper ul.songList .albumNameHeading {
  background-color: #C4C4C4;
  color: #555;
  border-radius: 0px 0px 3px 3px;
  border-bottom: 1px solid #999999;
  overflow: hidden;
  padding: 0px 0px 0px 6px;
  height: 24px;
  margin-top: 30px;
  line-height: 24px;
}
.songList li.currentSong {
  background-color: #c2c7d1;
  color: #fff;
}
.albumNameHeading .lightText {
  color: #777;
}
.hoverHint {
  float: right;
  padding: 3px 10px;
  font-size: 12px;
  opacity: 0;
  line-height: 16px;

  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.albumNameHeading:hover .hoverHint {
  opacity: 1;
}
.playlistNameDash {
  display: none;
}
.currentSongDuration .currentSongTime.transparent {
  opacity: 0;
}
.userPlaylistBtnGroup {
  position: relative;
  z-index: 0;
  top: -32px;

  width: 100%;
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
#musicApp-Main.userPlaylist .userPlaylistBtnGroup {
  opacity: 1;
  z-index: 20;
}
#musicApp-Main.chatShown .userPlaylistBtnGroup {
  top: 0px;
  margin-bottom: -4px;
}
#musicApp-Main.chatShown.searchShown.userPlaylist .userPlaylistBtnGroup {
  top: -30px;
  margin-bottom: -34px;
}
#musicApp-Main.userPlaylist #currentPlaylist {
  padding-bottom: 30px;
}
.userPlaylistBtnGroup .btn {
  border-radius: 0px;
}
#musicApp-Main.chatShown.searchPlaylist .userPlaylistBtnGroup {
  position: absolute;
}
.currentSongLength {
  *width: 22px;
  width: auto;
  display: inline-block;
  position: relative;
}
.infinity {
  font-size: 20px;
  line-height: 0px;
  position: relative;
  top: 1px;
  left: 2px;
  *position: absolute;
  *right: 3px;
  *top: -21px;
}
#currentPlaylist li .songButtonGroup .addSongFromPlaylistBtn {
  display: none;
}
#playlistHeader h3 .draggingMessage {
  display: none;
}
#playlistHeader.isDragging h3 span,
#playlistHeader.isDragging h3 span.playlistNameDash {
  display: none !important;
}
#playlistHeader.isDragging h3 .draggingMessage {
  display: block !important;
  text-align: center;
  background-color: #666;
  position: absolute;
  top: -1px;
  left: -8px;
  width: 101%;
  height: 34px;
  padding-top: 6px;
  color: #ddd;
}
.toggleChatDisplay {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.toggleChatDisplay.newChat .glyphicon {
  color: #CD1515;
}
#shareToggle {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 29.75%;
  height: 33px;
  padding: 11px 0px 0px 0px;
  background-color: #e9e9e9;
}
#shareToggle .iosCkBx {
  float: right;
  margin-right: 5px;
  position: absolute;
  top: 8px;
  right: 0px;
}
#shareToggle .shareTxt {
  position: relative;
  top: -3px;
  margin: 0px 0px 0px 7px;
  font-size: 14px;
  color: #666;
}
.hasSharedPlaylist {
  cursor: pointer;
  border-color: #FFF;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;

}
.hasSharedPlaylist:hover {
  background-color: #DFDFDF;
  border-color: #CCCCCC;
  border-image: none;
  border-radius: 5px 0 0 5px;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  margin-left: -12px;
  padding: 0 0 1px 8px;
}
.whiteOutlineTxt {
  text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  #navBarCollapse .navbar-nav {
    margin: 8px 0px;
  }
}