<div id="mainAlert" class="alert hide"></div>

<div class="container">

	<form class="form-signin" id="loginForm">
	  <h2 class="form-signin-heading">LOGIN</h2>
	  <input id="login-PW" type="password" class="form-control" placeholder="Password" required autofocus>
	  <input id="login-Name" type="text" class="form-control" placeholder="Name" required>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	</form>

</div>