<nav id="navBarMain" class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <a class="navbar-brand">Music App 3</a>
  </div>

  <div class="btn-group topBarBtnGroup">
    <button class="btn btn-default backwardBtn"><span class="glyphicon glyphicon-backward"></span></button>
    <button class="btn btn-default playPauseBtn"><span class="glyphicon glyphicon-pause"></span></button>
    <button class="btn btn-default forwardBtn"><span class="glyphicon glyphicon-forward"></span></button>
  </div>

  <div class="" id="topBarSongInfo">
    <span class="currentSongName"></span>

    <span class="currentSongDuration">
      <span class="currentSongTime"></span>
      /
      <span class="currentSongLength"></span>
    </span>

    <span class="artistTrackInfo">
      <span class="currentArtistName"></span>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="currentAlbumName"></span>
    </span>

    <div class="currentPositionBar">
      <div class="position"></div>
      <div class="bufferPosition"></div>
    </div>
  </div>

</nav><!-- closes #navBarMain -->
<div id="mainContentContain">

  <div id="mainAlert" class="alert hide"></div>

	<div id="sideBar" class="col">

    <ul class="nav">
      <li><a class="btn musicSearchToggle" data-searchType="artist">Search Artist <span class="glyphicon glyphicon-search"></span></a></li>
      <li><a class="btn musicSearchToggle" data-searchType="all">Search All <span class="glyphicon glyphicon-search"></span></a></li>
      <li><a class="btn listArtistsBtn">List Artists <span class="glyphicon glyphicon-globe"></span></a></li>
      <li><a class="btn randomPlaylistBtn">Random Playlist <span class="glyphicon glyphicon-random"></span></a></li>

      <li><a class="btn togglePlaylistDisplay">Playlists <span class="glyphicon glyphicon-folder-open"></span></a>
        <div class="btn btn-info refreshPlaylistList">
          <span class="glyphicon glyphicon-refresh"></span>
        </div>
        <ul id="savedPlaylistContainer">
        </ul>
      </li>

      <li><a class="btn showPlaylistControlsBtn">Modify Playlist<span class="glyphicon glyphicon-edit"></span></a></li>
      <li><a class="btn toggleChatDisplay">Show Chat <span class="glyphicon glyphicon-comment"></span></a></li>

    </ul>

    <div id="albumArtContain" class="noAlbumArt">
      <div class="albumArtHeader">
        Hide Album Art
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
      <div class="albumArtWell">
        <img src="">
      </div>
    </div>

	</div><!-- closes #sideBar -->
	<div id="musicApp-Main" class="col searchPlaylist">

    <div id="playlistHeader">

      <form id="musicSearchForm" class="navbar-form well" role="search">
        <div class="input-group">
          <input type="text" id="musicSearchInput" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" id="searchSubmitBtn" class="btn btn-primary">Search</button>
          </span>
        </div>
      </form>

      <h3>
        <span class="playlistLabel">Search Playlist</span>
        <span class="playlistNameDash">-</span>
        <span class="searchPlaylistName"></span>
        <span class="playlistName">
          <span class="btn btn-sm btn-info namePlaylistBtn">Name Playlist</span>
        </span>
        <span class="draggingMessage"><b>Drop here</b> to add song to playlist!</span>
      </h3>

      <div class="btn-group musicAppMainTopBtnGroup">
        <button class="btn btn-primary btn-sm togglePlaylistDisplayBtn" data-showId="#currentPlaylist" data-hideId="#searchPlaylist">Show User Queued Playlist</button>
      </div>

    </div>

    <div id="playlistScrollContain" class="playlistWrapper">

      <ul id="searchPlaylist" class="songList activePlaylist"></ul>
      <ul id="currentPlaylist" class="songList listHide"></ul>

    </div>

    <div class="btn-group btn-group-justified userPlaylistBtnGroup">
      <div class="btn btn-primary savePlaylistBtn">Save Playlist</div>
      <div class="btn btn-primary namePlaylistBtn">Name Playlist</div>
      <div class="btn btn-primary clearPlaylistBtn">Clear Playlist</div>
    </div>

    <div id="chatWell" class="well">

      <div id="presenceDiv">
        <h5>Online Users</h5>

        <div class="onlineUsersList"></div>

        <div id="shareToggle">
          <span class="shareTxt">Share current playing songs</span>
          <div class="iosCkBx">
            <input type="checkbox" id="shareCheckbox">
            <label for="shareCheckbox"><i></i></label>
          </div>
        </div>

      </div>

      <div id="messagesDiv"></div>

      <div id="messagesInput" class="input-group">
        <input class="form-control" id="messageInput" tabindex="-1" placeholder="Message..." type="text">
        <span class="input-group-btn">
          <button class="btn btn-default" id="sendChatMessage" type="button">Send Message</button>
        </span>
      </div>

    </div>

	</div><!-- closes #musicApp-Main -->

</div><!-- closes #mainContentContain -->

<audio id="musicAppAudio"></audio>
